* {
  box-sizing: border-box;
}

html {
  display: flex; flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1em;
}

.wrapper {
  flex: 1 1 auto;
  display: flex; 
}

aside {
  width: 20em;
}

article {
  flex: 1;
}

nav {
  order: -1;
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column; 
  }
  nav,
  aside {
    width: auto;
  }
  nav,
  aside,
  article {
    flex-basis: auto;
  }
  nav {
    order: 0; 
  }
}

body {
  margin: 0;
  /*background: #64706c;*/
  background: #78827f;
  font-family: arial, sans-serif;
}
header,
nav,
aside,
article,
footer {
  margin: .4em;
  padding: 1em;
  border-radius: 3px;
}
header {

}
footer {
  background: #ede9ce;
}

/*****************************************************************************************************************
 * header
 *****************************************************************************************************************/

header > .title
{
	font-size: 5em;
	text-align: center;
  font-family: 'Pacifico', cursive;
  color: #ede9ce;
  margin-top: -30px;
  margin-bottom: -10px;
}
header > .navbar
{
	display: flex;

	/*margin: 0;*/
  margin-bottom: -20px;
	padding: 0;
	height: 30px;
	overflow: hidden;

	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;

	border-radius: 0.3em;
}
header > .navbar > li
{
	padding: 5px 5px 5px 5px;
}
header > .navbar > li > a
{
	color : #333;
	text-decoration: none;

}
header > .navbar > li > a:hover
{
	color : #ede9ce;
	text-decoration: none;
}
header > .navbar > #admin > a
{
	color : #333;
	text-decoration: none;
	position: absolute;
	right: 40px;
}
header > .navbar > #admin > a:hover
{
	color: #efeadc;
}
header > .navbar > #register > a
{
  color: #ede9ce;
  text-decoration: none;
  position: absolute;
  right: 40px;
}
header > .navbar > #register > a:hover
{
  color: #efeadc;
}


/*****************************************************************************************************************
 * aside
 *****************************************************************************************************************/

aside {
  background: #935347;
}

aside > .title
{
  text-align: center;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  color: #ede9ce;
}

aside input[type=text], 
aside input[type=password]
{
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #ede9ce;
  text-align: center;
}

aside input[type=submit] {
    width: 100%;
    background-color: #c7ad88;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.0em;
}
aside input[type=submit]:hover 
{
  background-color: #c3a67f;
}

aside #forgot
{
  text-align: center;
}
aside #forgot > a
{
  text-decoration: none;
  color: #333;
  font-size: 1.3em;
}
aside #forgot > a
{
  text-decoration: none;
  color: #c3a67f;
  font-size: 0.7em;
}
aside #forgot > a:hover
{
  color: #d0b99a;
}

aside #register
{
  margin-top : -2px;
}

aside .stats p
{
  color: #c3a67f;
}
aside .stats p span
{
  color: #d0b99a;
  font-weight: bold;
}

/*****************************************************************************************************************
 * article
 *****************************************************************************************************************/

article 
{
  color: #333;
  background: #ede9ce;
}
article #page_title
{  
  padding-left: 15px;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  color: #935347;
}
article input[type=text], 
article input[type=password], 
article input[type=email]
{
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #e8e8e8;
  text-align: center;
}

article label
{
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color : #333;
  font-size: 0.8em;
}
article .error
{
  opacity: 0;
  display: block;
  position: relative;
  color: #935347;
  width: 100%;
  text-align:center;
  font-size: 0.8em;
}
article input[type=submit] {
    width: 100%;
    background-color: #935347;
    color: #ede9ce;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.0em;
}
article input[type=submit]:hover {
  background-color: #8c4a3f;
}



/*****************************************************************************************************************
 * footer
 *****************************************************************************************************************/
 
footer
{
  text-align: right;
  color: #333;
}
footer > a
{
  text-decoration : underline;
  color: #935347;
}


.is-hidden { display: none; }

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAowAAAKMB8MeazgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB5SURBVDiNrZPRCcAwCEQfnUiySAZuF8kSWeH6Yz8KrQZMQAicJ+epAB0YwAmYJKIADLic0/GPPCbQAnLznCd/4NWUFfkgy1VjH8CryA95ApYltAiTRCZxpuoW+gz9WXE6NPeg+ra1UDIxGlWEObe4SGxY5fIxlc75Bkt9V4JS7KWJAAAAAElFTkSuQmCC59ef34356faa7edebc7ed5432ddb673d');
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  padding: 20px 30px;
  width: 600px;
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #fff;
}


/*****************************************************************************************************************
 * gallery
 *****************************************************************************************************************/

.container
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.vignette
{
  margin: 5px 5px 5px 5px;
  width: 400px;
  background-repeat: no-repeat round;
  background-position: top;
  position: relative;

}
.vignette > .laphoto
{
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
}
.vignette > .thumb
{
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 13px;
  left: 10px;
  width: 30px;
}
.vignette > .mess
{
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 13px;
  left: 56px;
  width: 25px;
}
.vignette > .delete
{
  display: none;
  position: absolute;
  width: 30px;
  bottom: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
}
.vignette > .ownedby
{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(237, 233, 206, 0.0); /*#ede9ce;*/
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.vignette > .ownedby > span
{
  /*color: #CC5347;*/
  color: #dfdbc2;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  /*font-size: 1.3em;*/
}
.vignette > .top_vign
{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  /*background-color: rgba(237, 233, 206, 0.1); #ede9ce;*/
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.vignette > .top_vign > span
{
  /*color: #CC5347;*/
  color: #dfdbc2;
  font-weight: bold;
  display: block;
  margin-top: 12px;
  /*font-size: 1.3em;*/
}


/*****************************************************************************************************************
 * cam
 *****************************************************************************************************************/

article video
{
  margin: 0 auto;
  margin-top: -100px;
  display: block;
  width: 25%;
  position: relative;
}
article canvas
{
  margin: 0 auto;
  display: border-left-color: #000;k;
  width: 25%;
}
article #image
{
  margin: 0 auto;
  margin-top: -100px;
  display: block;
  width: 25%;
}

 .filter_cont
{

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.filter_cont .filter > img
{
  width: 100px;
}


/*****************************************************************************************************************
 * comment
 *****************************************************************************************************************/

.comment_container
{
  position: relative;
}

 .comment_container #comment_write
 {
  padding: 8px 20px;
  margin-bottom: 20px;
 }
 .comment_container #comment_box
 {
  padding: 20px;
  color: #935347;
  border-radius: 5px;
  max-height: 700px;
  overflow-y: auto;
  text-align: center;
 }


#comment_box::-webkit-scrollbar {
    width: 1em;
}
 
#comment_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#comment_box::-webkit-scrollbar-thumb {
  background-color: #935347;
  outline: 1px solid #935347;
}

#comment_box .mess_box
{
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  border-radius: 0.5em;
  border: 2px solid #935347 ;
  width: 70%;
  border: 2px solid rgba(147, 83, 71, 0.5)
}
.mess_box
{
  position: relative;
}
.mess_box .delete
{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  border: 1px solid #b60b0b;
  border-radius: 5px;
}
.mess_box .message
{
  margin-top: -10px;
}
#count_box
{
  position: absolute;
  font-size: 0.8em;
  font-style: italic;
  top: -25px;
  right: 0px;
  color: #baa;
}